{
  "development": {
    "username": "testuser",
    "password": "testuser",
    "database": "testuser_db",
    "host": "homedev",
    "dialect": "postgres"
  },
  "test": {
    "username": "testuser",
    "password": "testuser",
    "database": "testuser_db",
    "host": "homedev",
    "dialect": "postgres"
  },
  "production": {
    "username": "testuser",
    "password": "testuser",
    "database": "testuser_db",
    "host": "homedev",
    "dialect": "postgres"
  }
}
